doctype html
html
  head
    title sign in
  body(text-align="center",background-color="grey")
    h2 StockFot 
    h4 Aplikacja do przechowywania i kreowania albumów ze zdjęciami z najważniejszych i niezapomnianych momentów z twojego życia. Możesz z niej korzystać za darmo logując się z kontem google.
    h3 Zaloguj się
    p Imię
      input(type="text", name="first_name")
    p Nazwisko
      input(type="text", name="last_name")
    a(href="/auth/google") Wyślij