doctype html
html
  head
    title sign in
  body(style={'background-image':'url(background.jpeg)', 'background-size': 'cover', 'text-align':'center'})
    container(style={color:'white'})
      h1 StockFot 
      h2 Aplikacja do przechowywania i kreowania albumów ze zdjęciami
      h3 Z najważniejszych i niezapomnianych momentów twojego życia. Możesz z niej korzystać za darmo logując się z kontem google.
      h3 Zaloguj się
      p Imię
        input(type="text", name="first_name")
      p Nazwisko
        input(type="text", name="last_name")
      a(style={'font-size':'20px', color:'white'} href="/auth/google") Wyślij